workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/technology/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        32,
        -208
      ],
      "id": "5da02993-46de-473a-a9f7-f26c8fe49972",
      "name": "Fetch Technology News"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -208
      ],
      "id": "a700c78e-5d12-4819-81f1-58f79899fcb9",
      "name": "Daily News Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this news article in 5 bullet points.\nExplain why this news is important.\n\nArticle:\n{{$json.content}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -208
      ],
      "id": "55a23d20-69e2-48a0-b0cf-6b1bdcfd2cce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        528,
        16
      ],
      "id": "380b6083-adc0-4337-9989-2e120277ae54",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sH8D3Ku4Hz30Psnb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        304,
        -208
      ],
      "id": "8ea9d07a-0d6e-4002-b4b6-ca3b3ed96a8f",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "itsamnamehmood@gmail.com",
        "subject": "Daily AI News Summary",
        "message": "=Today's technology news summary:  {{$json.output}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        -208
      ],
      "id": "578a660a-bdd1-4f79-92d5-ea01e70554ad",
      "name": "Send a message",
      "webhookId": "23650011-f853-4d9b-bcae-1f50de1ba065",
      "credentials": {
        "gmailOAuth2": {
          "id": "XVdFfdizvcJmS891",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HyyhFdzJ1kxN86bo7WOUvCaiPtlkV4heFFVM5uRRWQE",
          "mode": "list",
          "cachedResultName": "AI News Digest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HyyhFdzJ1kxN86bo7WOUvCaiPtlkV4heFFVM5uRRWQE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HyyhFdzJ1kxN86bo7WOUvCaiPtlkV4heFFVM5uRRWQE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title ": "={{$json.title}}",
            "Date": "={{$now}}",
            "Summary": "={{$json.output}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -208
      ],
      "id": "7033b0d9-35b5-48cf-b3d5-a00dafb56cac",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4WoLkAlkIqNbSwJ4",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Technology News": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily News Trigger": {
      "main": [
        [
          {
            "node": "Fetch Technology News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "74c2e75e-24ad-47ca-8944-597e3a383e60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64f97a7be703bdb430adba311bb4c64b826014079b407bc73345842966e3bfc3"
  },
  "nodeGroups": [],
  "id": "PRju428Sd1hTGnyC",
  "tags": []
}
